<p>
    <h3>
        {{article.title}} (posted {{momentjs(article.date_posted).fromNow()}} by {{article.user.username}})
        {% if admin == True %}
            [<a href="/article/manage/Article/{{ article.id }}">edit</a>
            | <a href="/article/delete/Article/{{ article.id }}">delete</a>]
        {% endif %}
    </h3>
    {{ article.body | safe }}
	<br /><br />

    {% for attachment in article.get_image_attachments() %}
        <a href="/static/article_attachments/{{ attachment.file_name }}" style="margin-right: 20px; margin-bottom: 20px">
            <img style="margin-bottom: 20px;" class="img-thumbnail" src="/static/article_attachments/{{ attachment.thumb_name }}">
        </a>
    {% endfor %}
    <hr>
</p>
