<p>
    <h3>
        {{article.title}} (posted {{momentjs(article.date_posted).fromNow()}} by {{article.user.username}})
        {% if admin == True %}
            [<a href="/article/manage/Article/{{ article.id }}">edit</a>
            | <a href="/article/delete/Article/{{ article.id }}">delete</a>]
        {% endif %}
    </h3>
    {{ article.body | safe }}
    {% for attachment in article.get_attachments() %}
        {% if attachment.content_type == 'image' and attachment.thumb_name != '' %}
            <p>
                <a href="/static/article_attachments/{{ attachment.file_name }}">
                    <img height="200" width="200" class="img-thumbnail" src="/static/article_attachments/{{ attachment.thumb_name }}">
                </a>
            </p>
        {% endif %}
    {% endfor %}
    <hr>
</p>